@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Noto+Sans+JP:wght@300&family=Roboto+Condensed:wght@500;700;900&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap");
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.c-bg-darkBk {
  background-color: #323232;
}

.c-bg-bk {
  background-color: #000;
}

.c-bg-wt {
  background-color: #fff;
}

.c-bg-gy {
  background-color: #565656;
}

.c-bg-wtgy {
  background-color: #787878;
}

.c-bg-darkGy {
  background-color: #3e3a39;
}

.c-bg-brwon {
  background-color: #231815;
}

.c-bg-bl {
  background-color: #0086cd;
}

.c-bg-red2 {
  background-color: #e83743;
}

.c-bg-navy {
  background-color: #00479d;
}

.c-wt {
  color: #fff;
}

.c-bl {
  color: #0086cd;
}

.c-red {
  color: #e73743;
}

.c-aqua {
  color: #0085ab;
}

.c-pink {
  color: #dd727f;
}

.u-txt-center {
  text-align: center;
}

.fix-none {
  display: none;
}

/* fonts */
html {
  scroll-behavior: smooth;
}
@media screen and (min-width: 751px) {
  html {
    font-size: min(0.667vw, 10px);
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 1.334vw;
  }
}

body {
  background: #fff;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 750px) {
  .pc-only {
    display: none !important;
  }
}

@media screen and (min-width: 751px) {
  .sp-only {
    display: none !important;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  transition: all 0.4s ease;
}

.cookie {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2.5em;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 10rem;
  left: 0;
  z-index: 150;
}

.cookie-consent {
  visibility: hidden;
}

.cookie-consent.is-show {
  visibility: visible;
}

.cc-hide1 {
  display: none;
}

.textArea {
  width: 90%;
  float: left;
  text-align: left;
  bottom: 0;
  z-index: 1;
}

.btnArea {
  width: 10%;
  float: right;
}

.textArea .ttl {
  font-weight: normal;
}

.textArea .ttl a {
  color: #fff;
}

.textArea p {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.btnArea button:hover {
  background: #777;
}

.btnArea button {
  display: block;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  padding: 0.8rem 2rem;
  border: 1px solid #fff;
  width: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  font: revert;
}

.btnArea button:hover {
  background: #000;
}

@media screen and (max-width: 750px) {
  .cookie {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2.5em;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 12rem;
    left: 0;
    z-index: 150;
  }
  #top .cookie {
    bottom: 25rem;
  }
  .textArea {
    width: 100%;
    float: none;
    text-align: left;
    bottom: 0;
    z-index: 1;
  }
  .btnArea {
    width: 100%;
    float: none;
    margin-top: 3vw;
  }
  .btnArea button {
    width: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
  }
}
.u-flex {
  display: flex;
}

.u-flex-c, .circle-card-lg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.u-flex-bw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .u-flex-bw {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 750px) {
  .gap56-sp {
    gap: 5.6rem;
  }
  .gap70-sp {
    gap: 7rem 0;
  }
  .gap30-sp {
    gap: 3rem;
  }
}
@media screen and (min-width: 751px) {
  .u-flex-eve {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .u-flex-col-c-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .u-flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .u-flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .gap10 {
    gap: 1rem;
  }
}
@media screen and (max-width: 750px) {
  .flex-col-sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .flex-wrap-sp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.u-flex-col-c-center, .circle-card-base, .circle-card-sm, .circle-card-md {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.u-txt-c {
  display: block;
  text-align: center;
}

.u-ls-1 {
  letter-spacing: -0.1em;
}

.u-mb15 {
  margin-bottom: 1.5rem;
}

.u-mb25 {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 751px) {
  .u-mb35 {
    margin-bottom: 3.5rem;
  }
}
@media screen and (max-width: 750px) {
  .u-mb35-sp {
    margin-bottom: 3.5rem;
  }
}
.u-mb45 {
  margin-bottom: 4.5rem;
}

.u-mb55 {
  margin-bottom: 5.5rem;
}

@media screen and (min-width: 751px) {
  .u-mb85 {
    margin-bottom: 8.5rem;
  }
}
.u-mb40 {
  margin-bottom: 4rem;
}

@media screen and (min-width: 751px) {
  .u-mb60 {
    margin-bottom: 6rem;
  }
}
.u-mb42 {
  margin-bottom: 4.2rem;
}

.u-mb62 {
  margin-bottom: 6.2rem;
}

@media screen and (max-width: 750px) {
  .u-mb45-sp {
    margin-bottom: 4.5rem;
  }
  .u-mb25-sp {
    margin-bottom: 4.5rem;
  }
  .u-mb60-sp {
    margin-bottom: 6rem;
  }
  .u-mb90-sp {
    margin-bottom: 9rem;
  }
}
@media screen and (min-width: 751px) {
  .u-mb72 {
    margin-bottom: 7.2rem;
  }
  .u-mb50 {
    margin-bottom: 5rem;
  }
  .u-mb25 {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 751px) {
  .u-mr30 {
    margin-right: 3rem;
  }
}
.u-pt60 {
  padding-top: 6rem;
}

.u-pt90 {
  padding-top: 9rem;
}

.u-pb60 {
  padding-bottom: 6rem;
}

@media screen and (min-width: 751px) {
  .u-pt60-pc {
    padding-top: 6rem;
  }
}
.u-pb55 {
  padding-bottom: 6.5rem;
}

.u-pb65 {
  padding-bottom: 6.5rem;
}

@media screen and (max-width: 750px) {
  .u-pb85-sp {
    padding-bottom: 8.5rem;
  }
  .u-pb50-sp {
    padding-bottom: 5rem;
  }
  .u-pt42-sp {
    padding-top: 4.2rem;
  }
}
.u-pb70 {
  padding-bottom: 7rem;
}

@media screen and (min-width: 751px) {
  .u-pl40 {
    padding-left: 4rem;
  }
  .u-pr40 {
    padding-right: 4rem;
  }
}
/*Title*/
.ttl {
  font-size: 2.2rem;
  line-height: 1.5;
}

@media screen and (min-width: 751px) {
  .sec-ttl {
    font-size: 4.1rem;
    line-height: 1.3;
    font-weight: 400;
  }
  .sec-ttl-lg {
    font-size: 5.2rem;
    line-height: 1.38;
    font-weight: 400;
  }
  .sec-ttl-xlg {
    font-size: 6rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .ttl-40 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 400;
  }
}
@media screen and (max-width: 750px) {
  .sec-ttl-xxlg-sp {
    font-size: 8.1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .sec-ttl-xlg-sp {
    font-size: 7.6rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .sec-ttl-lg-sp {
    font-size: 5.2rem;
    line-height: 1.38;
    font-weight: 400;
  }
  .ttl-42-sp {
    font-size: 4.2rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .ttl-38-sp {
    font-size: 3.8rem;
    line-height: 1.5;
    font-weight: 400;
  }
}
.card-ttl {
  font-size: 3rem;
  line-height: 1.38;
  font-weight: 400;
}

.c-card-ttl, .circle-card-md > .txts > .ttl, .circle-card-lg > .txts > .ttl {
  font-size: 2.6rem;
  line-height: 2.3;
  font-weight: 400;
}

@media screen and (min-width: 751px) {
  .ttl-28 {
    font-size: 2.8rem;
    line-height: 1.5;
  }
}
.ttl-32 {
  font-size: 3.2rem;
  line-height: 1.38;
}

.note-ttl {
  width: 30rem;
}
@media screen and (max-width: 750px) {
  .note-ttl {
    width: 42rem;
  }
}

/*text*/
.txt-30 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 300;
}

@media screen and (min-width: 751px) {
  .txt-20 {
    font-size: 2rem;
    line-height: 1.8;
    font-weight: 300;
  }
}
.txt-18 {
  font-size: 1.8rem;
  line-height: 1.9;
  font-weight: 300;
}
@media screen and (max-width: 750px) {
  .txt-18 {
    font-size: 3.2rem;
  }
}

.txt-16-card, .circle-card-md > .txts > p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
}

.txt-14-card {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
}
@media screen and (max-width: 750px) {
  .txt-14-card {
    font-size: 2.4rem;
  }
}

/*btn-txt*/
.txt-21 {
  font-size: 2.1rem;
  line-height: 1.5;
  font-weight: 300;
}

.txt-14 {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
}

@media screen and (max-width: 750px) {
  .txt-38-sp {
    font-size: 3.8rem;
    line-height: 1.5;
    font-weight: 300;
  }
  .txt-31-sp {
    font-size: 3.1rem;
    line-height: 1.5;
    font-weight: 300;
  }
  .txt-28-sp {
    font-size: 2.8rem;
    line-height: 1.6;
    font-weight: 300;
  }
  .txt-24-sp {
    font-size: 2.4rem;
    line-height: 1.8;
    font-weight: 300;
  }
  .txt-20-sp {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 300;
  }
}
.btn-inner-base, .btn-inner-pink, .btn-inner-aqua, .btn-inner-navy, .btn-inner-blue, .btn-inner-red, .btn-inner-catalog-pink, .btn-inner-catalog, .btn-inner-contact, .btn-inner-Xlarge, .btn-inner-large, .btn-inner-md, .btn-inner-sm, .btn-inner-auto {
  display: flex;
  align-items: center;
  gap: 4.5rem 0;
  text-align: center;
  overflow-wrap: anywhere;
}
.btn-inner-base > .icon-btn, .btn-inner-pink > .icon-btn, .btn-inner-aqua > .icon-btn, .btn-inner-navy > .icon-btn, .btn-inner-blue > .icon-btn, .btn-inner-red > .icon-btn, .btn-inner-catalog-pink > .icon-btn, .btn-inner-catalog > .icon-btn, .btn-inner-contact > .icon-btn, .btn-inner-Xlarge > .icon-btn, .btn-inner-large > .icon-btn, .btn-inner-md > .icon-btn, .btn-inner-sm > .icon-btn, .btn-inner-auto > .icon-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  overflow: hidden;
}
@media screen and (min-width: 751px) {
  .btn-inner-base.opacity:hover, .opacity.btn-inner-pink:hover, .opacity.btn-inner-aqua:hover, .opacity.btn-inner-navy:hover, .opacity.btn-inner-blue:hover, .opacity.btn-inner-red:hover, .opacity.btn-inner-catalog-pink:hover, .opacity.btn-inner-catalog:hover, .opacity.btn-inner-contact:hover, .opacity.btn-inner-Xlarge:hover, .opacity.btn-inner-large:hover, .opacity.btn-inner-md:hover, .opacity.btn-inner-sm:hover, .opacity.btn-inner-auto:hover {
    opacity: 0.5;
  }
}

.btn-inner-rev {
  flex-direction: row-reverse;
}

.btn-inner-auto {
  width: 100%;
  min-width: 19rem;
  height: 6rem;
}
.btn-inner-auto > .icon-btn {
  width: 3.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-auto > .icon-btn {
    width: 10.8rem;
  }
}
@media screen and (max-width: 750px) {
  .btn-inner-auto > .icon-btn svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-inner-auto > .icon-link {
  width: 6.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-auto {
    width: 35rem;
    height: 9rem;
  }
  .btn-inner-auto > .icon-link {
    width: 30%;
  }
  .btn-inner-auto > .icon-link svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.icon-txt-18 {
  font-size: 1.8rem;
}

.btn-inner-sm {
  width: 23.3rem;
  height: 6rem;
}
.btn-inner-sm > .icon-btn {
  width: 7.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn {
    width: 10.8rem;
  }
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-inner-sm > .icon-btn-sm {
  width: 3.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn-sm {
    width: 10.8rem;
  }
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn-sm svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-inner-sm > .icon-btn-sm-2 {
  width: 4.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn-sm-2 {
    width: 10.8rem;
  }
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn-sm-2 svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-inner-sm > .icon-btn-md {
  width: 5.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn-md {
    width: 10.8rem;
  }
}
@media screen and (max-width: 750px) {
  .btn-inner-sm > .icon-btn-md svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-inner-sm > .icon-link {
  width: 6.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-sm {
    width: 35rem;
    height: 9rem;
  }
  .btn-inner-sm > .icon-link {
    width: 30%;
  }
  .btn-inner-sm > .icon-link svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media screen and (max-width: 750px) {
  .btn-inner-sm-top,
  #luxy .btn-inner-md-top {
    width: 59rem;
    height: 9rem;
  }
}

.btn-inner-md {
  width: 33.3rem;
  height: 6rem;
}
.btn-inner-md > .icon-btn {
  width: 5.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-md {
    width: 56rem;
    height: 9rem;
    gap: 0 4.5rem;
  }
  .btn-inner-md > .icon-btn {
    width: 15%;
  }
  .btn-inner-md > .icon-btn svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
@media screen and (min-width: 751px) {
  .btn-inner-md.opacity:hover {
    opacity: 0.5;
  }
}

.btn-inner-large {
  width: 39.4rem;
  height: 6rem;
}
.btn-inner-large > .icon-btn {
  width: 5.8rem;
}
.btn-inner-large > .icon-btn-sm {
  width: 2.8rem;
  height: 1.5rem;
}
.btn-inner-large > .icon-btn-lg {
  width: 9rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-large > .icon-btn-lg {
    width: 13rem;
  }
  .btn-inner-large > .icon-btn-lg svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.btn-inner-large > .icon-btn-lineup {
  width: 5.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-large {
    width: 59rem;
    height: 9rem;
  }
  .btn-inner-large > .icon-btn {
    width: 15%;
  }
  .btn-inner-large > .icon-btn svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  .btn-inner-large > .icon-btn-lineup {
    width: 8%;
  }
  .btn-inner-large > .icon-btn-lineup svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
@media screen and (min-width: 751px) {
  .btn-inner-large.opacity:hover {
    opacity: 0.5;
  }
}

.btn-inner-Xlarge {
  width: 43.3rem;
  height: 6rem;
}
.btn-inner-Xlarge > .icon-btn {
  width: 5.8rem;
}
.btn-inner-Xlarge > .icon-btn-sm {
  width: 2.8rem;
  height: 1.5rem;
}
.btn-inner-Xlarge > .icon-btn-lineup {
  width: 5.8rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-Xlarge {
    width: 59rem;
    height: 12rem;
  }
  .btn-inner-Xlarge > .icon-btn {
    width: 15%;
  }
  .btn-inner-Xlarge > .icon-btn svg {
    width: 2.4rem;
    height: 2.4rem;
  }
  .btn-inner-Xlarge > .icon-btn-lineup {
    width: 8%;
  }
  .btn-inner-Xlarge > .icon-btn-lineup svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
@media screen and (min-width: 751px) {
  .btn-inner-Xlarge.opacity:hover {
    opacity: 0.5;
  }
}

.btn-inner-contact {
  width: 28rem;
  height: 6rem;
}
.btn-inner-contact > .icon-btn {
  width: 4.5rem;
}
@media screen and (max-width: 750px) {
  .btn-inner-contact {
    width: 56rem;
    height: 12rem;
    gap: 0 4.5rem;
  }
  .btn-inner-contact > .icon-btn {
    width: 15%;
  }
  .btn-inner-contact > .icon-btn svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}
@media screen and (min-width: 751px) {
  .btn-inner-contact.opacity:hover {
    opacity: 0.5;
  }
}

.btn-inner-catalog {
  border-radius: 1rem;
  background-color: #40a3c0;
}

.btn-inner-catalog-pink {
  border-radius: 1rem;
  background-color: #dd727f;
}

.btn-inner-red {
  border: 1px solid #e73743;
}
@media screen and (min-width: 751px) {
  .btn-inner-red:hover {
    background-color: #e73743;
    transition: all 0.4s ease;
  }
  .btn-inner-red:hover .icon-btn .cls-1 {
    stroke: #fff;
  }
  .btn-inner-red:hover span {
    color: #fff;
  }
}

.btn-inner-blue {
  border: 1px solid #0086cd;
}

.btn-inner-navy {
  border: 1px solid #00479d;
}

.btn-inner-aqua {
  border: 1px solid #0085ab;
}

.btn-inner-pink {
  border: 1px solid #dd727f;
}

.icon-btn-wt .cls-1 {
  stroke: #fff;
}

.icon-btn-aqua .cls-1 {
  stroke: #0085ab;
}

.icon-btn-pink .cls-1 {
  stroke: #dd727f;
}

.icon-btn-big {
  width: 7.5rem !important;
}

.circle-card-sm {
  gap: 1rem;
  width: 20.6rem;
}
@media screen and (max-width: 750px) {
  .circle-card-sm {
    width: 28rem;
    gap: 2rem;
  }
}
.circle-card-sm > .img {
  opacity: 1;
  width: 20.6rem;
  height: 20.6rem;
}
@media screen and (max-width: 750px) {
  .circle-card-sm > .img {
    width: 27rem;
    height: 27rem;
  }
}
.circle-card-sm > .txts > p {
  text-align: center;
}

@media screen and (min-width: 751px) {
  .circle-card-sm.achi .img:hover {
    opacity: 0.5;
  }
}

.circle-card-md {
  gap: 1rem;
  width: 27rem;
}
@media screen and (max-width: 750px) {
  .circle-card-md {
    width: 30rem;
    gap: 3rem;
    align-self: start;
  }
}
.circle-card-md > .img {
  opacity: 1;
  width: 27rem;
  height: 27rem;
}
@media screen and (max-width: 750px) {
  .circle-card-md > .img {
    width: 30rem;
    height: 30rem;
  }
}
.circle-card-md > .txts > .ttl {
  text-align: center;
}
@media screen and (max-width: 750px) {
  .circle-card-md > .txts > .ttl {
    font-size: 3.9rem;
    line-height: 1.5;
  }
}
.circle-card-md > .txts > p {
  text-align: center;
}
@media screen and (max-width: 750px) {
  .circle-card-md > .txts > p {
    font-size: 2.4rem;
    line-height: 1.4;
    letter-spacing: -0.11em;
  }
}

@media screen and (min-width: 751px) {
  .circle-card-md.scene {
    overflow: hidden;
    scrollbar-width: none;
  }
  .circle-card-md.scene > .img.scr-target {
    position: relative;
  }
  .circle-card-md.scene > .img.scr-target:hover span,
  .circle-card-md.scene img.scr-target:hover span::after {
    left: 0;
  }
  .circle-card-md.scene > a {
    left: 0;
    position: absolute;
  }
  .circle-card-md.scene span {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(0, 133, 205, 0.8);
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    z-index: 5;
    transition: all 0.4s ease;
  }
}
@media screen and (min-width: 751px) and (max-width: 750px) {
  .circle-card-md.scene span {
    width: 30rem;
    height: 30rem;
  }
}
@media screen and (min-width: 751px) {
  .circle-card-md.scene span::after {
    content: "";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    width: 13.5rem;
    height: 17.8rem;
    position: absolute;
    top: 7.5rem;
    left: 25%;
  }
}
@media screen and (min-width: 751px) and (max-width: 750px) {
  .circle-card-md.scene span::after {
    width: 15.5rem;
    height: 20.8rem;
  }
}
@media screen and (min-width: 751px) {
  .circle-card-md.scene .hover1::after {
    background-image: url(../../images/top/scene01-hover.png);
  }
  .circle-card-md.scene .hover2::after {
    background-image: url(../../images/top/scene02-hover.png);
  }
  .circle-card-md.scene .hover3::after {
    background-image: url(../../images/top/scene03-hover.png);
  }
  .circle-card-md.scene .hover4::after {
    background-image: url(../../images/top/scene04-hover.png);
  }
}

@media screen and (max-width: 750px) {
  .circle-card-md-col {
    width: 57.8rem;
    gap: 3rem;
    align-self: auto;
    margin-bottom: 5.6rem;
  }
}
@media screen and (max-width: 750px) {
  .circle-card-md-col > .img {
    width: 39rem;
    height: 39rem;
  }
}
@media screen and (max-width: 750px) {
  .circle-card-md-col > .txts > .ttl {
    font-size: 3.9rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 750px) {
  .circle-card-md-col > .txts > p {
    font-size: 2.4rem;
    line-height: 1.4;
    letter-spacing: -0.11em;
  }
}

.circle-card-lg {
  width: 84.5rem;
  gap: 4rem;
}
@media screen and (max-width: 750px) {
  .circle-card-lg {
    width: 60rem;
  }
}
.circle-card-lg > .img {
  width: 41rem;
  height: 41rem;
}
@media screen and (max-width: 750px) {
  .circle-card-lg > .img {
    width: 50rem;
    height: 50rem;
  }
}
.circle-card-lg > .txts {
  width: 50%;
}
@media screen and (max-width: 750px) {
  .circle-card-lg > .txts {
    width: 100%;
  }
}
.circle-card-lg > .txts > .ttl {
  text-align: center;
}
.circle-card-lg > .txts > p {
  text-align: left;
}
@media screen and (max-width: 750px) {
  .circle-card-lg > .txts > p {
    text-align: center;
  }
}

#note .circle-card-md {
  width: 35rem;
}
@media screen and (max-width: 750px) {
  #note .circle-card-md {
    width: 57.8rem;
  }
}
#note .circle-card-md > .img {
  position: relative;
  width: 35rem;
  height: 24rem;
  border-radius: 4rem;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  #note .circle-card-md > .img {
    width: 57.8rem;
    height: 38rem;
  }
}
#note .circle-card-md > .img img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*
各ページ inner レイアウト
_____________________________________________*/
section > .inner {
  width: 120rem;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  section > .inner {
    width: 65.7rem;
    margin: 0 auto;
  }
}
section > .inner-right {
  margin: 0 0 0 auto;
  width: 90%;
}
@media screen and (max-width: 750px) {
  section > .inner-right {
    width: 65.7rem;
    margin: 0 auto;
  }
}
section > .inner-c {
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 750px) {
  section > .inner.lineup {
    width: 73rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 750px) {
  section > .inner.furniture {
    width: 100%;
  }
}

.inner.thinkAction {
  position: relative;
}

.note {
  padding: 10rem 15.5rem;
  /* 下の外側の線 */
  /* 下の内側の線 */
  /* 上の外側の線 */
  /* 上の内側の線 */
  /* 左の外側の線 */
  /* 左の内側の線 */
  /* 右の外側の線 */
  /* 右の内側の線 */
}
@media screen and (max-width: 750px) {
  .note {
    padding: 0;
  }
}
.note > .inner {
  position: relative;
  overflow: hidden;
  width: 120rem;
  margin: 0 auto;
  padding: 10rem 0 6rem;
}
@media screen and (max-width: 750px) {
  .note > .inner {
    width: 72rem;
    height: auto;
    padding: 6.5rem 0 7rem;
  }
}
.note .inner.draw {
  opacity: 1;
}
.note .corner {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
}
.note .corner-top-left {
  top: 0rem;
  left: -0.2rem;
}
.note .corner-top-right {
  top: 0rem;
  right: 0rem;
}
.note .corner-bottom-left {
  bottom: 0rem;
  left: -0.2rem;
}
.note .corner-bottom-right {
  bottom: 0rem;
  right: 0rem;
}
.note .inner.draw::before,
.note .inner.draw::after,
.note .inner.draw .line::before,
.note .inner.draw .line::after {
  content: "";
  position: absolute;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.note .inner.draw::before {
  animation-name: drawHorizontalBottomOuter;
  bottom: 0;
  right: 0;
  height: 0px;
  background-color: #fff;
  animation-delay: 0s;
}
.note .inner.draw .line::before {
  animation-name: drawHorizontalBottomInner;
  bottom: 1.4rem;
  right: 0;
  height: 0px;
  background-color: #fff;
  animation-delay: 0s;
}
@keyframes drawHorizontalBottomInner {
  0% {
    width: 0;
    height: 0px;
  }
  100% {
    width: 100%;
    height: 2px;
  }
}
@keyframes drawHorizontalBottomOuter {
  0% {
    width: 0;
    height: 0px;
  }
  100% {
    width: 100%;
    height: 0.2rem;
  }
}
.note .inner.draw .line:nth-child(2)::before {
  animation-name: drawHorizontalTopOuter;
  top: 0;
  left: 0;
  height: 0px;
  background-color: #fff;
  animation-delay: 1s;
}
.note .inner.draw .line:nth-child(2)::after {
  animation-name: drawHorizontalTopInner;
  top: 1.4rem;
  left: 0;
  height: 0px;
  background-color: #fff;
  animation-delay: 1s;
}
@keyframes drawHorizontalTopOuter {
  0% {
    width: 0;
    height: 0px;
  }
  100% {
    width: 100%;
    height: 2px;
  }
}
@keyframes drawHorizontalTopInner {
  0% {
    width: 0;
    height: 0px;
  }
  100% {
    width: 100%;
    height: 2px;
  }
}
.note .inner.draw::after {
  animation-name: drawVerticalLeftOuter;
  top: 0;
  right: 0;
  left: 0;
  width: 0.2rem;
  background-color: #fff;
  animation-delay: 0.5s;
}
.note .inner.draw .line::after {
  animation-name: drawVerticalLeftInner;
  top: 0;
  right: 0;
  left: 1.4rem;
  width: 0.2rem;
  background-color: #fff;
  animation-delay: 0.5s;
}
@keyframes drawVerticalLeftOuter {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes drawVerticalLeftInner {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
.note .inner.draw .line:nth-child(3)::before {
  animation-name: drawVerticalRightOuter;
  top: 0;
  right: 0;
  width: 0.2rem;
  background-color: #fff;
  animation-delay: 1.2s;
}
.note .inner.draw .line:nth-child(3)::after {
  animation-name: drawVerticalRightInner;
  top: 0;
  left: auto;
  right: 1.4rem;
  width: 0.2rem;
  background-color: #fff;
  animation-delay: 1.2s;
}

@keyframes drawVerticalRightOuter {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes drawVerticalRightInner {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes drawLine {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 95%;
    opacity: 1;
  }
}
.draw-line {
  position: relative;
  width: 95%;
  margin: 0 auto;
  border: 1px solid #fff;
}
@media screen and (max-width: 750px) {
  .draw-line {
    max-width: 62rem;
  }
}

.draw-line.drawLine {
  animation-name: drawLine;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.draw-line::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}

.draw-line::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
}

.breadcrumb {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  display: flex;
  font-size: 1.2rem;
  font-weight: 300;
}
@media screen and (max-width: 750px) {
  .breadcrumb {
    margin: 0 auto;
    max-width: 67rem;
    font-size: 2.4rem;
  }
}
.breadcrumb .wrap {
  flex-wrap: wrap;
}
.breadcrumb > li + li::before {
  content: ">";
  margin: 0 0.5rem;
  display: inline-block;
}
@media screen and (max-width: 750px) {
  .breadcrumb > li + li::before {
    margin: 0 1rem;
  }
}
.breadcrumb .bc-line {
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .indent {
    padding-left: 2.5em;
    text-indent: -1em;
    flex-wrap: nowrap;
  }
}

.top-scroll {
  position: fixed;
  bottom: 12rem;
  right: 15rem;
  z-index: 999;
  opacity: 0;
}
.top-scroll > a {
  padding: 1rem;
  border-right: 2px solid #3e3a39;
  border-bottom: 2px solid #3e3a39;
  font-size: 2rem;
  color: #3e3a39;
}
@media screen and (max-width: 750px) {
  .top-scroll > a {
    padding: 1rem 3rem;
    border-right: 2px solid #3e3a39;
    border-bottom: 2px solid #3e3a39;
    font-size: 4rem;
  }
}
.top-scroll.is-display {
  transition-duration: 0.5s;
  opacity: 1;
}

.header {
  width: 100vw;
  height: 10rem;
  background-color: #000;
}
@media screen and (max-width: 750px) {
  .header {
    height: 12rem;
  }
}
.header.under-l_bg {
  margin-bottom: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #000;
}
.header > .inner {
  width: 120rem;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .header > .inner {
    width: 100%;
    height: 12rem;
    padding: 0 3rem;
  }
}

.header-logo > h1 {
  width: 13rem;
  height: 3.1rem;
}
@media screen and (max-width: 750px) {
  .header-logo > h1 {
    width: 20.2rem;
    height: 4.8rem;
  }
}

.header_hamburger {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 0rem;
  right: 15rem;
  z-index: 300;
}
@media screen and (max-width: 750px) {
  .header_hamburger {
    width: 8rem;
    height: 8rem;
    top: 0rem;
    right: 3rem;
  }
}

.header_hamburger a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #fff;
  background-color: transparent;
}

.menu_on .header_hamburger a {
  border-color: #fff !important;
}

.header_hamburger.bk a {
  border-color: #000;
}

.header_hamburger.wt a {
  border-color: #fff;
}

.header_hamburger a > span {
  display: block;
  width: 3rem;
  height: 0.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -1.5rem;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .header_hamburger a > span {
    width: 4.5rem;
    margin: 0 0 0 -2.2rem;
  }
}

.header_hamburger a > span:nth-child(1) {
  transform: translateY(-9px);
}
@media screen and (max-width: 750px) {
  .header_hamburger a > span:nth-child(1) {
    transform: translateY(-1.3rem);
  }
}

.header_hamburger a > span:nth-child(2) {
  transform: translateY(-1px);
}

.header_hamburger a > span:nth-child(3) {
  transform: translateY(7px);
}
@media screen and (max-width: 750px) {
  .header_hamburger a > span:nth-child(3) {
    transform: translateY(1.3rem);
  }
}

.header_hamburger a > span > span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.menu_on .header_hamburger a > span > span {
  background-color: #fff !important;
}

.header_hamburger.bk a > span > span {
  background-color: #000;
}

.header_hamburger.wt a > span > span {
  background-color: #fff;
}

.header_hamburger a {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: border-color, background-color;
}

.header_hamburger a > span > span {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, transform;
}

/*MENU*/
.menu {
  width: 85rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #3e3a39;
  border: 1px solid transparent;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  z-index: 200;
}
@media screen and (max-width: 750px) {
  .menu {
    width: 100%;
    height: 100%;
  }
}

.menu a {
  user-select: none;
  pointer-events: none;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu_inner {
  width: 100%;
  height: 100%;
  padding: 10rem 24.5rem 5.5rem 7rem;
}
@media screen and (max-width: 750px) {
  .menu_inner {
    padding: 16.5rem 0 0 8rem;
  }
}

.menu_section {
  width: 100%;
  height: 100%;
}

.link:first-child {
  margin-bottom: 6.8rem;
}
.link:not(:last-child) {
  margin-bottom: 6rem;
}
.link > .main-link {
  display: flex;
  justify-content: flex-start;
}
.link > .sub-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 2rem;
  padding-left: 0.8rem;
}
@media screen and (max-width: 750px) {
  .link > .sub-menu {
    justify-content: flex-start;
    width: 100%;
    margin-top: 3.5rem;
    gap: 4rem 2rem;
  }
}

.header-link {
  font-size: 2.4rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0 1rem;
}
@media screen and (max-width: 750px) {
  .header-link {
    font-size: 3rem;
  }
}
.header-link > .sub-txt {
  font-size: 1.2rem;
  color: #fff;
}
@media screen and (max-width: 750px) {
  .header-link > .sub-txt {
    font-size: 1.8rem;
  }
}
.header-link > .link-img {
  background-image: url("../../images/common/icon-nav.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.6rem;
  height: 1.6rem;
}
@media screen and (max-width: 750px) {
  .header-link > .link-img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.header-sublink {
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  gap: 0 0.8rem;
  align-items: center;
  margin-top: 0.2rem;
  min-width: 28%;
}
@media screen and (max-width: 750px) {
  .header-sublink {
    font-size: 2.4rem;
    min-width: 42%;
  }
}
.header-sublink > .link-img {
  display: block;
  background-image: url("../../images/common/icon-nav.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.6rem;
  height: 1.6rem;
}
@media screen and (max-width: 750px) {
  .header-sublink > .link-img {
    width: 1.8rem;
    height: 1.8rem;
  }
}
.header-sublink > .link-icon {
  display: block;
  background-image: url("../../images/common/icon-link.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.6rem;
  height: 1.6rem;
}
@media screen and (max-width: 750px) {
  .header-sublink > .link-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.header-sublink.withinIcon {
  min-width: 30%;
}
@media screen and (max-width: 750px) {
  .header-sublink.withinIcon {
    min-width: 42%;
  }
}

.spacer {
  width: 100%;
  display: block;
}

span.close {
  position: relative;
  color: #fff;
  top: 4.2rem;
  left: -7rem;
  font-size: 1.6rem;
  user-select: auto;
  pointer-events: auto;
  opacity: 0;
}
@media screen and (max-width: 750px) {
  span.close {
    font-size: 2.6rem;
    top: 5.6rem;
    left: -10rem;
  }
}

.menu_on span.close {
  opacity: 1;
}

.menu_off span.close {
  opacity: 0;
}

.menu_on .menu {
  user-select: auto;
  pointer-events: auto;
  opacity: 0;
}

.menu_on .menu a {
  user-select: auto;
  pointer-events: auto;
}

.menu_off .menu {
  user-select: none;
  pointer-events: none;
  opacity: 1;
}

.menu_on .bg-menu {
  user-select: none;
  pointer-events: none;
  opacity: 0.85;
}

.menu_off .menu a {
  user-select: none;
}

.bg-menu {
  width: 100%;
  height: 100%;
  background-color: rgba(62, 58, 57, 0.85);
  opacity: 0;
  pointer-events: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 151;
}

.menu_on .bg-menu {
  user-select: auto;
  pointer-events: auto;
  opacity: 1;
}
@media screen and (max-width: 750px) {
  .menu_on .bg-menu {
    height: 12rem;
    background-color: transparent;
    z-index: 250;
  }
}

.bg-menu-inner {
  width: 100%;
  height: 100%;
  padding-left: 22rem;
  display: flex;
  align-items: center;
}
.bg-menu-inner > .logo {
  width: 21.6rem;
  height: 3.6rem;
}
@media screen and (max-width: 750px) {
  .bg-menu-inner {
    padding-left: 3rem;
  }
}

.header-link.home,
.header-sublink {
  position: relative;
}

.header-link.home::before,
.header-sublink::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: transparent;
  z-index: -1;
}

.header-link.home::before {
  width: 54.3rem;
}
@media screen and (max-width: 750px) {
  .header-link.home::before {
    width: 100vw;
  }
}

.header-link.home:hover::before,
.header-sublink:hover::before {
  background: rgba(255, 255, 255, 0.2);
}

/*MENU*/
.menu_on .menu {
  animation: menu_on1 0.5s ease-in-out forwards;
}

.menu_on .bg-menu {
  animation: menu_on1 0.5s ease-in-out forwards;
}

@keyframes menu_on1 {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.menu_off .menu {
  animation: menu_off1 0.5s ease-in-out forwards;
}

@keyframes menu_off1 {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(6rem);
  }
}
.menu_on .header_hamburger a > span:nth-child(1) {
  animation: menu_on21 1s ease-in-out forwards;
}

.menu_on .header_hamburger a > span:nth-child(2) {
  animation: menu_on22 1s ease-in-out forwards;
}

.menu_on .header_hamburger a > span:nth-child(3) {
  animation: menu_on23 1s ease-in-out forwards;
}

@keyframes menu_on21 {
  0% {
    transform: translateY(-0.9rem) rotate(0deg);
  }
  50% {
    transform: translateY(-0.1rem) rotate(0deg);
  }
  100% {
    transform: translateY(-0.1rem) rotate(45deg);
  }
}
@keyframes menu_on22 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menu_on23 {
  0% {
    transform: translateY(0.7rem) rotate(0deg);
  }
  50% {
    transform: translateY(-0.1rem) rotate(0deg);
  }
  100% {
    transform: translateY(-0.1rem) rotate(-45deg);
  }
}
.menu_off .header_hamburger a > span:nth-child(1) {
  animation: menu_off21 1s ease-in-out forwards;
}

.menu_off .header_hamburger a > span:nth-child(2) {
  animation: menu_off22 1s ease-in-out forwards;
}

.menu_off .header_hamburger a > span:nth-child(3) {
  animation: menu_off23 1s ease-in-out forwards;
}

@keyframes menu_off21 {
  0% {
    transform: translateY(-0.1rem) rotate(45deg);
  }
  50% {
    transform: translateY(-0.1rem) rotate(0deg);
  }
  100% {
    transform: translateY(-0.9rem) rotate(0deg);
  }
}
@keyframes menu_off22 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu_off23 {
  0% {
    transform: translateY(-0.1rem) rotate(-45deg);
  }
  50% {
    transform: translateY(-0.1rem) rotate(0deg);
  }
  100% {
    transform: translateY(0.7rem) rotate(0deg);
  }
}
.footer {
  overflow-x: hidden;
}

.footer {
  padding-bottom: 10rem;
}
@media screen and (max-width: 750px) {
  .footer {
    padding-bottom: 14rem;
  }
}

.footer-nav {
  width: 100%;
  background-color: #666666;
}
.footer-nav > .inner {
  width: 120rem;
  margin: 0 auto;
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .footer-nav > .inner {
    width: 65.5rem;
    padding: 7.5rem 0 2.5rem;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }
}

.footer-contens {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 3rem;
}
@media screen and (max-width: 750px) {
  .footer-contens {
    flex-direction: column;
    gap: 0rem 0;
    margin-bottom: 8.5rem;
  }
}

.left-section,
.center-section,
.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 750px) {
  .left-section,
  .center-section,
  .right-section {
    align-items: normal;
  }
}

.center-section {
  border-left: 1px solid #fff;
  padding-left: 3rem;
}
@media screen and (max-width: 750px) {
  .center-section {
    border-left: unset;
    padding-left: 0;
  }
}

.line-up {
  margin-top: 3rem;
}

.main-link {
  min-width: 19rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .main-link {
    min-width: 52rem;
    justify-content: center;
  }
  .main-link.magbithome {
    min-width: 160%;
    margin-left: -30%;
    margin-right: -30%;
  }
}
.main-link > .link-img {
  background-image: url("../../images/common/icon-nav.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.85rem;
}
@media screen and (max-width: 750px) {
  .main-link > .link-img {
    width: 3.3rem;
    height: 3.3rem;
  }
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.3;
}
@media screen and (max-width: 750px) {
  .footer-link {
    font-size: 4rem;
    line-height: 2.8;
  }
}

.footer-anc {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-anc:not(:last-child) {
  margin-bottom: 1rem;
}
@media screen and (max-width: 750px) {
  .footer-anc {
    font-size: 3.6rem;
    min-width: 30rem;
    line-height: 2.3;
  }
}
.footer-anc > .link-img {
  background-image: url("../../images/common/icon-nav.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.85rem;
}
@media screen and (max-width: 750px) {
  .footer-anc > .link-img {
    width: 3.3rem;
    height: 3.3rem;
  }
}

.sub-menu {
  margin-top: 2rem;
}
@media screen and (max-width: 750px) {
  .sub-menu {
    display: flex;
    flex-direction: column;
    width: 48rem;
    margin: 0 auto;
  }
  .sub-menu:not(.sub-menu-line-up) {
    align-items: center;
  }
}

.logo-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (max-width: 750px) {
  .logo-section {
    margin-left: auto;
  }
}

.main-logo {
  width: 18.6rem;
  height: 3.2rem;
}
@media screen and (max-width: 750px) {
  .main-logo {
    width: 22rem;
    height: 3.8rem;
  }
}

.footer-info > .info-inner {
  background-color: #cccccc;
  color: #000;
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
@media screen and (max-width: 750px) {
  .footer-info > .info-inner {
    flex-direction: column;
    font-size: 3.4rem;
    padding: 6.5rem 0 4.5rem;
  }
}
.footer-info > .contact-inner {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.footer-info-about {
  margin-right: 3.2rem;
}
@media screen and (max-width: 750px) {
  .footer-info-about {
    margin-right: 0;
    margin-bottom: 6rem;
  }
  .footer-info-about > a {
    border-bottom: solid 1px #000;
    padding-bottom: 1rem;
  }
}

.footer-info-list {
  display: flex;
  flex-direction: row;
}
.footer-info-list > li:first-child {
  padding-right: 1.4rem;
}
.footer-info-list > li:not(:first-child) {
  padding: 0 1.4rem;
}
.footer-info-list > li:not(:last-child) {
  border-right: 1px solid #000;
}
@media screen and (max-width: 750px) {
  .footer-info-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem 0;
    width: 61.2rem;
  }
}

.contact-contens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 3rem;
  padding: 4rem 0;
}
@media screen and (max-width: 750px) {
  .contact-contens {
    flex-direction: column;
    justify-content: center;
    width: 61.2rem;
  }
}
@media screen and (max-width: 750px) {
  .contact-contens .btn {
    margin-bottom: 5.6rem;
  }
}

.contact-contens-txt {
  font-size: 2rem;
  line-height: 1.2;
}
@media screen and (max-width: 750px) {
  .contact-contens-txt {
    font-size: 4rem;
    margin-bottom: 1.8rem;
  }
}

.contact-mail {
  font-size: 3.3rem;
}
@media screen and (max-width: 750px) {
  .contact-mail {
    font-size: 4.5rem;
  }
}
.contact-mail a {
  display: inline-block;
}
@media screen and (max-width: 750px) {
  .contact-mail a {
    margin-bottom: 2rem;
  }
}
.contact-mail::before {
  content: "";
  display: inline-flex;
  background-image: url(../../images/common/icon-mail.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.5rem;
  height: 1.7rem;
  vertical-align: middle;
}
@media screen and (max-width: 750px) {
  .contact-mail::before {
    width: 5rem;
    height: 3.4rem;
  }
}
.contact-mail > span {
  font-size: 1.4rem;
  display: block;
}
@media screen and (max-width: 750px) {
  .contact-mail > span {
    font-size: 3.2rem;
    text-align: center;
  }
}

.footer-policy {
  background: #fff;
  padding: 1rem 0;
}
@media screen and (max-width: 750px) {
  .footer-policy {
    padding: 5rem 0 0;
  }
}
.footer-policy > .policy-inner {
  width: 120rem;
  font-size: 1.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  .footer-policy > .policy-inner {
    width: 65.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.policy-list {
  display: flex;
  flex-direction: row;
}
.policy-list > li:first-child {
  padding-right: 1.4rem;
}
.policy-list > li:not(:first-child) {
  padding: 0 1.4rem;
}
.policy-list > li:not(:last-child) {
  border-right: 1px solid #000;
}
@media screen and (max-width: 750px) {
  .policy-list > li:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .policy-list > li {
    border-right: none !important;
    padding-right: 0 !important;
  }
  .policy-list > li::after {
    content: "";
    display: flex;
    margin: 2.5rem auto 0 auto;
    width: 5rem;
    height: 2px;
    background-color: #000;
  }
}
@media screen and (max-width: 750px) {
  .policy-list {
    flex-direction: column;
    align-items: center;
    font-size: 2.8rem;
    margin-bottom: 6rem;
  }
}

.footer-copyright {
  font-size: 1rem;
}
@media screen and (max-width: 750px) {
  .footer-copyright {
    font-size: 2rem;
  }
}

.require-fixed {
  opacity: 1;
  position: fixed;
  z-index: 150;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(70, 70, 70, 0.5);
}

.require-fixed-inner {
  display: flex;
  justify-content: center;
  gap: 0 5rem;
  padding: 2rem 0;
}
@media screen and (max-width: 750px) {
  .require-fixed-inner {
    padding: 0;
    gap: 0;
  }
  .require-fixed-inner > .btn {
    width: 50%;
  }
}

.footer .main-link.magbithome,
.footer .main-link.bugsolution,
.footer .footer-anc {
  position: relative;
}
.footer .main-link.magbithome::before,
.footer .main-link.bugsolution::before .footer-anc::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background: transparent;
  z-index: -1;
}
.footer .main-link.magbithome:hover,
.footer .main-link.bugsolution:hover,
.footer .footer-anc:hover {
  background: rgba(255, 255, 255, 0.2);
}

.footer-info li:hover,
.footer-policy li:hover {
  text-decoration: underline;
}